# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/misc.xml
/modules.xml
/vcs.xml
.idea
/.idea
.gitignore
JavaScript.iml
- 2023 plan JS/JS.help-info.txt
- 2023 plan JS/Lesson-plan.txt