.wrap {
    background-color: #a29c9c;
    color: #9d0000;
}

.collapse {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.alpha {
    height: 50px;
    border-radius: 10px;
    border: #6c6cb0 solid;
}

.beta {
    font-size: 25px;
    margin-bottom: 3px;
}
.courses {
    background-color: rgba(0, 128, 0, 0.74);
    height: 10vw;
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fffbcd;
    border-radius: 20px;
    border: #2b2b93 solid 3px;
    margin-bottom: 3px;
}